KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/init.o \
$(ARCHDIR)/descriptors/gdt.o \
$(ARCHDIR)/descriptors/descriptor_tables.o \
$(ARCHDIR)/descriptors/isr.o \
$(ARCHDIR)/descriptors/interrupt.o \
$(ARCHDIR)/memory/paging.o \
$(ARCHDIR)/memory/kheap.o \
$(ARCHDIR)/process.o \
$(ARCHDIR)/task/task.o \
$(ARCHDIR)/task/timer.o \
$(ARCHDIR)/syscall.o \

